.slider {
    padding-top: 50px;
    max-width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.sl {
    position: relative;
}

.sl__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    font-family: 'Montserrat';
    font-weight: 700;
}

.tittle {
    font-size: 34px;
    padding-bottom: 3%;
    padding-left: 1%;
}

.description {
    font-size: 35px;
    margin-left: 1.2%;
}

.phone {
    display: inline-flex;
    position: absolute;
    left: 1.2%;
    bottom: 75%;
}

.btn {
    width: 166px;
    height: 47px;
    box-shadow: -3.5px 11.5px 40px 0 rgba(0, 1, 1, 0.2);
    background-color: #1a9bdc;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 35%;
    right: 10%;
    left: 1.6%;
    &:hover {
        background-color: white;
        color: #1a9bdc;
        border: 2px solid #1a9bdc;
        transition: color, background-color 0.7s;
    }
}