@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: black;
  /* Цвет ссылок */
}

a:visited {
  color: black;
  /* Цвет посещенных ссылок */
}

a:active {
  color: black;
  /* Цвет активных ссылок */
}

@font-face {
  font-family: "NexaBold", sans-serif;
  src: url("assets/fonts/NexaBold.ttf.woff") format("woff"), url("assets/fonts/NexaBold.ttf.svg#NexaBold") format("svg"), url("assets/fonts/NexaBold.ttf.eot"), url("assets/fonts/NexaBold.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("assets/fonts/icomoon.eot?6qsx5g");
  src: url("assets/fonts/icomoon.eot?6qsx5g#iefix") format("embedded-opentype"), url("assets/fonts/icomoon.ttf?6qsx5g") format("truetype"), url("assets/fonts/icomoon.woff?6qsx5g") format("woff"), url("assets/fonts/icomoon.svg?6qsx5g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-laughing-face:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-champagne-glass:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-place:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-folder-open:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-stats-bars2:before {
  content: "";
}

.icon-facebook:before {
  content: "";
  font-size: 30px;
}

.icon-instagram:before {
  content: "";
  font-size: 30px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CBD3E6;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0 0 0 20px;
}

.header__link {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.header__link:hover {
  transition: all 0.3s ease 0s;
  color: #139CDD;
  border-bottom: 1px solid #139CDD;
}

.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.social {
  position: relative;
  z-index: 3;
  left: 20%;
  color: black;
}

.icon-instagram:hover {
  transition: all 0.3s ease 0s;
  color: #139CDD;
}

.icon-facebook:hover {
  transition: all 0.3s ease 0s;
  color: #139CDD;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.content {
  padding-top: 100px;
}

.content__text {
  font-size: 20px;
  line-height: 25px;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: wheat;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .content {
    padding: 70px 0px 0px 0px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__link {
    font-size: 24px;
  }
}
.slider {
  padding-top: 50px;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
}

.sl {
  position: relative;
}

.sl__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  font-family: "Montserrat";
  font-weight: 700;
}

.tittle {
  font-size: 34px;
  padding-bottom: 3%;
  padding-left: 2%;
}

.description {
  font-size: 35px;
  margin-left: 2%;
}

.phone {
  display: inline-flex;
  position: absolute;
  left: 2.4%;
  bottom: 75%;
}

.btn {
  width: 166px;
  height: 47px;
  box-shadow: -3.5px 11.5px 40px 0 rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 35%;
  right: 10%;
  left: 2.7%;
}
.btn:hover {
  background-color: white;
  color: #1a9bdc;
  border: 2px solid #1a9bdc;
  transition: color, background-color 0.7s;
}

.info--flex {
  display: flex;
  justify-content: space-around;
}

.info-item {
  width: 25%;
  height: 360px;
}
.info-item:hover {
  transition: all 0.3s ease 0s;
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.01);
}

.bg1 {
  background-color: #43b1d2;
}

.bg2 {
  background-color: #3fb6c6;
}

.bg3 {
  background-color: #3cbbbb;
}

.bg4 {
  background-color: #37c3a8;
}

.info {
  text-align: center;
}
.info__img {
  font-size: 50px;
  position: relative;
  top: 10px;
}
.info--bd {
  border-radius: 50%;
  background-color: white;
  width: 75px;
  height: 76px;
  margin: 0 auto;
  margin-top: 70px;
}
.info__tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.75px;
  text-align: center;
  color: #ffffff;
  padding-top: 25px;
}
.info__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

.choose {
  width: 100%;
  height: 850px;
  background-image: url(/assets/img/choose.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.choose__tittle {
  padding-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #494949;
}
.choose__desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #6a6a6a;
  padding-top: 31px;
}
.choose__row {
  display: flex;
}
.choose__row2 {
  display: flex;
}
.choose__ico {
  background-color: #139CDD;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 28px;
  text-align: center;
  padding-top: 10px;
}
.choose__box {
  width: 50%;
  height: 160px;
  margin-top: 7%;
}
.choose__box:hover {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.08);
  transition: all 0.6s;
}
.choose__box--ico {
  display: flex;
  justify-content: center;
}
.choose__box--tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.75px;
  color: #6f6f6e;
  margin-top: 11px;
  margin-left: 10px;
}
.choose__box--desc {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: #6a6a6a;
  margin-top: 10px;
}

.score {
  width: 100%;
  height: 400px;
  background: #262177;
  background: linear-gradient(90deg, rgba(38, 33, 119, 0.95) 0%, #43b1d2 48%, #00d4ff 88%);
}
.score__row {
  display: flex;
}
.score__box {
  width: 25%;
  height: 400px;
  text-align: center;
  padding-top: 90px;
}
.score__box:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.08);
  transition: all 0.7s;
}
.score__icon {
  font-size: 60px;
  color: white;
}
.score__score {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
}
.score__desc {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.63px;
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
}

.photo {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin-top: 15px;
  margin-left: 15px;
}
.gallery a:hover {
  transform: scale(1.08);
  transition: all 0.5s;
}

.gallery img {
  display: block;
}

.who {
  width: 100%;
  height: 600px;
  background: #262177;
  background: linear-gradient(90deg, rgba(38, 33, 119, 0.95) 0%, #43b1d2 48%, #00d4ff 88%);
}
.who__tittle {
  color: white;
}
.who__soc {
  font-size: 24px;
  color: white;
}
.who__soc:hover {
  color: white;
  opacity: 0.8;
}
.who__social {
  margin-top: 20px;
}
.who__row {
  display: flex;
  padding-top: 50px;
}
.who__oleg {
  width: 33%;
  text-align: center;
}
.who__oleg:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.5s;
}
.who__name {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.phone1 {
  font-size: 18px;
}