// Basic components (btn,colors,bg,etc)
.btn {
    width: 220px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    &:hover {
        background-color: #00897b;
        border: solid 3px #00897b;
    }
}

.tittle {
    margin: 0 auto;
}

.tittl {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1px;
    color: #212121;
    text-align: center;
    padding-top: 39px;
}

.subtittle {
    width: 259px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.75px;
    color: #212121;
    text-align: center;
    padding-top: 26px;
}

li a {
    color: #000 !important;
    text-decoration: none
}

a {
    color: white;
}