// Basic components (btn,colors,bg,etc)
.btn {
    width: 220px;
    height: 70px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

a {
    color: #000 !important;
    text-decoration: none
}